* {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}

h2{
    text-align: center;
}

nav>ul>li>a{
    color: rgba(75,73,160,255);
}

header{
        color: blue;
        height: 150px;
}

#titulo {
    color: aliceblue;
    font-size: 50px;
    font-weight: 200;
}

#section1{
    background-image: url("../img/fundo.jpg");
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;
    margin: 20px 0px 50px 0px;
}

#botao1{
    color: rgba(229,244,249,255);
    background-color: rgba(30,152,225,255);
    border-color:rgba(30,152,225,255);
    float: left;
    padding: 20px;
}

/* topo,direita,baixo,esquerda */

#section2>article>h3{
    color: rgba(243,172,79,255);
}

#botao2{
    padding: 10px;
    color: rgba(52,156,220,255);
    border-color: rgba(52,156,220,255);
    margin: 20px;
}

#numero{
    color: rgba(28,151,220,255);
    font-size: 50px;
}

#section5{
    background-color: rgb(37, 150, 190);
    color: rgba(205,215,218,255);
    height: 100px;
    padding: 30px;
    margin: 40px 0px 40px 0px;
}

#section7{
    background-color: rgb(117, 114, 114);
    color: rgba(254,254,254,255);
}

#section7>article>ul{
    list-style: none;
    margin: 20px 0px 10px 0px;
}

#section7>article>ul>li>a{
color: rgba(210,211,215,255);
}

footer{
    margin: 50px;
}

#rodape{
    float: right;
}

@media only screen and (max-width: 768px) {

    header{
        display: flex;
    }

    nav{
        font-size: 20px;
        padding: 25px;
        margin: 0px 10px 0px 10px;
        display: block;
        }

        nav>ul>li{
            list-style: none;
        }
        #section2>article{
        padding: 3px;
        margin: 20px 0px 10px 10px;
        text-align: center;
        }

        #section3>figure{
            margin: 40px 0px 20px 0px;
            text-align: center;
        }

        #section4>article{
            text-align: center;
        }
        

        #section6>article{
            text-align: center;
            padding: 40px 0px 40px 0px;
            margin: 40px 0px 40px 0px;
        }

        #section7>article{
            text-align: center;
            margin: 40px 0px 40px 0px;
        }
}


@media only screen and (min-width: 768px) {
    
    nav{
        display: block;
        font-size: 20px;
        margin: 0px 2px 0px 10px;
        }
        
        
        nav>ul>li{
            list-style: none;
            display: inline-block;
        }

        .sections{
        width: 32%;
        display: inline-block;
        text-align: center;

        }

    #section2>article{
        margin: 40px 0px 30px 0px;
        padding: 50px 0px 50px 0px;
    }

    #section3>figure{
        margin: 40px 0px 20px 0px;
    }


    #section6>article{
        padding: 40px 0px 40px 0px;
        margin: 40px 0px 40px 0px;
    }

    #section7>article{
        margin: 40px 0px 40px 0px;
    }
}